<div id="modal">
  <iframe src="https://www.youtube.com/embed/1NOBHTvGJnA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<section id="student-login" class="content mobile-finish-test">
	<article class="login-container">
		<h1>VOCÊ FINALIZOU O TESTE</h1>
  	<div class="login-button-box">
      <%= link_to "FINALIZAR", root_path, class: "submit" %>
    </div>
</section>