<section id="student-login" class="content">
	<article class="login-container">
		<h1>VOCE FINALIZOU O TESTE</h1>
  	<div class="login-button-box">
      <%= link_to "FINALIZAR", root_path, class: "submit" %>
    </div>
</section>