<section id="question-four" class="content question-container">
  <%= image_tag("questions/question_4_2.jpg") %>
  <%= link_to api_v1_send_answer_path(question: 4, answer: 3, student_id: params[:student_id], next_path: 5) do %>
  	<div class="answer answer2"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 4, answer: 1, student_id: params[:student_id], next_path: 5) do %>
  	<div class="answer answer3"></div>
	<%end%>
</section>