<section id="question-nine" class="content question-container">
  <%= image_tag("questions/question_9.jpg") %>
  <div class="answer answer1"></div>
  <div class="answer answer2"></div>
  <div class="answer answer3"></div>
</section>