<section id="question-seven" class="content question-container">
  <%= image_tag("questions/question_7_2.jpg") %>
  <div class="answer answer4"></div>
  <div class="answer answer5"></div>
  <div class="answer answer6"></div>
</section>