<section id="question-six" class="content question-container">
  <%= image_tag("questions/question_6.jpg") %>
  <%= link_to api_v1_send_answer_path(question: 2, answer: 2, student_id: params[:student_id], next_path: 3) do %>
  	<div class="answer answer1"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 2, answer: 1, student_id: params[:student_id], next_path: 3) do %>
  	<div class="answer answer2"></div>
	<%end%>
</section>