<section id="question-six" class="content question-container">
  <%= image_tag("questions/question_6.jpg") %>
  <div class="answer1"></div>
  <div class="answer2"></div>
  <div class="answer3"></div>
</section>