<section id="question-three" class="content question-container">
  <%= image_tag("questions/question_3_2.jpg") %>
	  <div class="answer answer6"></div>
  	<div class="answer answer7"></div>
	  <div class="answer answer8"></div>
	  <div class="answer answer9"></div>
	  <div class="answer answer10"></div>
</section>