

html,
body {
  height: 100%;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

code,
kbd,
pre,
samp {
  font-family: 'Open Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  color: #FFF;
}

p,
figcaption {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

/* Colors */
h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
figcaption,
a,
span {
  &.white {
    color: $white;
  }

  &.medium-gray {
    color: $medium-gray;
  }

  &.gray-text {
    color: $gray-text;
  }

  &.gray-bg {
    color: $gray-bg;
  }

  &.dark-gray {
    color: $dark-gray;
  }

  &.light-black {
    color: $light-black;
  }

  &.blue {
    color: $blue;
  }

  &.blue-text {
    color: $blue-text;
  }

  &.navy-blue-text {
    color: $navy-blue-text;
  }

  &.light-blue-nav-text {
    colot: $light-blue-nav-text;
  }

  &.light-blue-text {
    color: $light-blue-text;
  }

  &.semi-bold {
    font-family: "Museo 500";
  }
}