// Iphone 5/6
@include media ($tablet) {
  header {
    .main-wrapper {
      &.internal-sub-header {
        background: image-url('internal-page-header-bg.jpg') no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position-y: -75px;
        height: 250px;
      }

      &.internal-sub-header[data-type="headerBG"] {
        height: 100%;
      }

      .wrapper {
        background-color: $navy-blue-text;

        .header-top {
          @include container;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 13px 0;

          a {
            float: right;
            font-size: 11px;
            font-family: "Museo 500";

            &:first-of-type {
              margin-right: 45px;
              font-family: "Museo 100";
            }
          }
        }
      }
      
      .menu-wrapper {
        background-color: transparent;
        z-index: 1;

        .menu {
          @include container;
          display: flex;
          align-items: center;
          padding: 20px 0;

          .logo-box {
            @include span-columns (3 of 24);
            display: flex;
            justify-content: center;
            align-items: center;

            .europa-logo {
              width: 90%;
            }
          }

          nav {
            @include span-columns (16 of 24);
            @include shift (1 of 24);

            ul {
              li {
                float: left;
                margin-right: 40.5px;

                &:first-of-type {
                  margin-left: 7px;
                }

                &:last-of-type {
                  @include omega;
                }
                
                &:hover,
                &.active {
                  a {
                    color: $light-blue-text;
                  }
                }

                a {
                  font-size: 13.4px;
                  font-family: "Museo 300";
                  text-transform: uppercase;
                }
              }
            }
          }

          .menu-right {
            @include span-columns (4 of 24);

            img {
              width: 22px;
              height: 20px;
              margin-bottom: 9px;
            }

            a {
              width: 42%;
              display: block;
              float: left;
              padding: 7px 0 0 0;
              margin-left: 17px;

              &:last-of-type {
                float: right;
                width: 28%;
                margin-left: 0;
              }

              div {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                p {
                  font-size: 16px;
                  color: $light-blue-nav-text;
                  text-align: center;
                  line-height: 1.1;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}