#student-login {
  margin-bottom: 6%;

  .logo-header {
    display: none;
  }

  .bubble-top {
    position: absolute;
    width: 15%;
    right: 32%;
    top: -4.5%;
    z-index: -1;
  }

  .bubble-bottom {
    position: absolute;
    width: 15%;
    left: 31%;
    bottom: -5.8%;
  }

  .teacher-button {
    background-color: #3B86FF;
    color: white;
    border-radius: 13px;
    padding: .5% 3%;
    position: absolute;
    top: -40.4%;
    right: -9%;

    &.responsive {
      display: none;
    }
  }

  .bubble-top-access{
    position: absolute;
    width: 5%;
    top: -196px;
    right: -113px;
    z-index: -1;
  }

  .login-container {
    @include span-columns (4 of 12);
    @include shift (4 of 12);
    background-color: $blue;
    padding: 7.1vh 0 17.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 19px;


    h1 {
      font-size: 26px;
      margin-bottom: 5.5vh;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1,
    label {
      text-transform: uppercase;
    }

    label,
    p {
      color: #FFF;
      align-self: flex-start;
      margin-left: 14%;
    }

    label {
      margin-bottom: 5px;
    }

    input {
      @include span-columns (3 of 4);
      @include omega;
      margin-bottom: 3.5vh;
      border-radius: 10px;
    }

    .login-button-box {
      @include span-columns (4 of 4);
      @include omega;
      display: flex;
      justify-content: center;
      margin-top: 10px;

      input.submit {
        width: 37%;
        margin-top: 0vh;
        padding: 1.3vh;
        font-size: 26px;
        color: $yellow;
        border: solid 2px $yellow;
        border-radius: 17px;
      }
    }

    a {
      color: #FFF;
      margin-bottom: 15px;

      &:hover {
        color: #FFF;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}