<section id="student-login" class="content">
	<article class="login-container">
		<h1>Login</h1>

		<form action="">
			<label for="username">Nome</label>
      <input type="text" id="username" name="username" required />
      <label for="password">Inserir Código</label>
      <input type="password" id="password" name="password" required />
			
			<div class="login-button-box">
      	<input class="submit" type="submit" name="submitbutton" value="ACESSAR">
	    </div>
	  </form>
	</article>
</section>