<section id="student-login" class="content">
	<article class="login-container">
		<h1>Login</h1>

		<form action="">
			<label for="username">Nome</label>
      <input type="text" id="username" name="username" required />
      <label for="password">Inserir Código</label>
      <input type="text" id="password" name="password" required />
			
			<div class="login-button-box">
      	<input class="submit" type="submit" name="submitbutton" value="ACESSAR">
	    </div>
	  </form>
	</article>
	<%= image_tag("bubbles_top.png", class: "bubble-top") %>
	<%= image_tag("bubbles_bottom.png", class: "bubble-bottom") %>
	<div>
		<%= link_to "ACESSAR COMO PROFESSOR", professor_login_teacher_path, class: "teacher-button"%>
		<%= image_tag("bubbles_top.png", class: "bubble-top-access") %>
	</div>
</section>