// Iphone 5/6
@include media ($tablet) {
  #modal,
  .mobile-finish-test,
  .question-container {
    transform: rotate(-90deg);
    transform-origin: left top;
    overflow-x: hidden;
    position: absolute;
    top: 96%;
    left: 17%;
    width: 120%;

    &.content {
      max-width: 110%;
    }
  }

  .mobile-finish-test {
    background: $blue;
    border-radius: 30px;

    .login-container {
      display: flex !important;
      
      h1 {
        color: #FFF !important;
      }
    }

    .login-button-box {
      background: $yellow;
      border-radius: 30px;
      width: 50% !important;

      a {
        color: #FFF;
        font-size: 36px;
      }
    }
  }
}