#question-eight {
  .answer {
    width: 10%;
    float: left;
    opacity: .4;
    height: 10vh;
    position: absolute;
    bottom: 3vh;
    border-radius: 20px;
    cursor: pointer;
  }

  .answer1 {
    left: 32%;
  }

  .answer2 {
    left: 44.6%;
    
  }

  .answer3 {
    left: 57.5%;
  }
}