#question-four {
  .answer {
    width: 10%;
    float: left;
    background-color: red;
    opacity: .4;
    height: 160px;
    position: absolute;
    bottom: 240px;
    border-radius: 20px;
    cursor: pointer;
  }

  .answer1 {
    left: 49%;
    bottom: 183px;
    width: 27%;
  }

  .answer2 {
    left: 35%;
    bottom: 160px;
    width: 22%;
  }

  .answer3 {
    left: 74%;
    bottom: 190px;
    height: 90px;
  }

  .not_here{
    position: absolute;
    right: 1%;
    bottom: 15px;
  }
}