#question-two {
  .answer {
    width: 10%;
    float: left;
    opacity: .4;
    height: 30vh;
    position: absolute;
    bottom: 35px;
    border-radius: 20px;
    cursor: pointer;
  }

  .answer1 {
    left: 29%;
    top: 26vh;
    transform: rotate(50deg);
  }

  .answer2 {
    left: 70%;
    bottom: -50px;
    transform: rotate(50deg);
  }

  .answer3 {
    left: 22%;
    top: 45vh;
    transform: rotate(130deg);
    height: 38vh;
  }

  .answer4 {
    left: 71%;
    bottom: 20vh;
    transform: rotate(130deg);
    height: 38vh;
  }

  .not_here{
    position: absolute;
    right: 1%;
    bottom: 15px;
  }
}