#question-three {
  .answer {
    width: 6%;
    float: left;
    background-color: red;
    opacity: .4;
    height: 11%;
    position: absolute;
    bottom: 42%;
    border-radius: 20px;
    cursor: pointer;
  }

  .answer1 {
    left: 12%;
    bottom: 33%;
  }

  .answer2 {
    left: 41.5%;
    bottom: 35%;
  }

  .answer3 {
    left: 48%;
    bottom: 33%;
  }

  .answer4 {
    left: 51%;
    bottom: 45%;
  }

  .answer5 {
    left: 70%;
  }

  .answer6 {
    left: 28%;
    bottom: 60%;
  }

  .answer7 {
    left: 30.5%;
    bottom: 35%;
  }

  .answer8 {
    left: 50%;
    bottom: 10%;
  }

  .answer9 {
    left: 58%;
    bottom: 45%;
  }

  .answer10 {
    left: 69%;
    bottom: 51%;
  }

  .answer11 {
    left: 24%;
    bottom: 5%;
  }

  .not_here{ 
    position: absolute;
    right: 1%;
    bottom: 15px;
  }
}