#question-four {
  .answer {
    width: 10%;
    float: left;
    opacity: .4;
    height: 30vh;
    position: absolute;
    bottom: 240px;
    border-radius: 20px;
    cursor: pointer;
  }

  .answer1 {
    left: 49%;
    bottom: 27vh;
    width: 27%;
  }

  .answer2 {
    left: 35%;
    bottom: 18vh;
    width: 22%;
  }

  .answer3 {
    left: 74%;
    bottom: 24vh;
    height: 16vh;
  }

  .not_here{
    position: absolute;
    right: 1%;
    bottom: 15px;
  }
}