#question-three {
  .answer {
    width: 6%;
    float: left;
    background-color: red;
    opacity: .4;
    height: 65px;
    position: absolute;
    bottom: 240px;
    border-radius: 20px;
    cursor: pointer;
  }

  .answer1 {
    left: 12%;
    bottom: 190px;
  }

  .answer2 {
    left: 41.5%;
    bottom: 202px;
  }

  .answer3 {
    left: 48%;
    bottom: 185px;
  }

  .answer4 {
    left: 51%;
    bottom: 260px;
  }

  .answer5 {
    left: 70%;
  }

  .answer6 {
    left: 28%;
    bottom: 340px;
  }

  .answer7 {
    left: 30.5%;
    bottom: 200px;
  }

  .answer8 {
    left: 50%;
    bottom: 55px;
  }

  .answer9 {
    left: 58%;
    bottom: 255px;
  }

  .answer10 {
    left: 69%;
    bottom: 300px;
  }
}