#question-seven {
  .answer {
    width: 16%;
    float: left;
    opacity: .4;
    height: 43vh;
    position: absolute;
    bottom: 240px;
    border-radius: 20px;
    cursor: pointer;
  }

  .answer1 {
    left: 18%;
    bottom: 32px;
    transform: rotate(50deg);
  }

  .answer2 {
    left: 48.6%;
    bottom: 50px;
    height: 34vh;
  }

  .answer3 {
    left: 73.6%;
    bottom: 40px;
    height: 38vh;
    transform: rotate(-20deg); 
  }

  .answer4 {
    left: 13.6%;
    bottom: 60px;
    height: 33vh;  
  }

  .answer5 {
    left: 36.6%;
    bottom: 70px;
    height: 33vh;
    width: 21%;  
  }

  .answer6 {
    left: 61.6%;
    bottom: 60px;
    height: 33vh;
    width: 20%; 
  }

  .not_here{
    position: absolute;
    right: 1%;
    bottom: 15px;
  }
}