#question-six {
  .answer {
    width: 25%;
    float: left;
    opacity: .4;
    height: 290px;
    position: absolute;
    bottom: 240px;
    border-radius: 20px;
    cursor: pointer;
  }

  .answer1 {
    left: 20%;
    bottom: 210px;
  }

  .answer2 {
    left: 58.6%;
    bottom: 200px;  
  }

  .answer3 {
    left: 31.6%;
    bottom: 160px;
    width: 30%;
    height: 320px;  
  }

  .not_here{
    position: absolute;
    right: 1%;
    bottom: 15px;
  }
}