#question-two {
  .answer {
    width: 10%;
    float: left;
    background-color: red;
    opacity: .4;
    height: 185px;
    position: absolute;
    bottom: 35px;
    border-radius: 20px;
    cursor: pointer;
  }

  .answer1 {
    left: 29%;
    top: 185px;
    transform: rotate(50deg);
  }

  .answer2 {
    left: 70%;
    bottom: 0px;
    transform: rotate(50deg);
  }

  .answer3 {
  }
}