#question-ten {
  .answer {
    width: 10%;
    float: left;
    background-color: red;
    opacity: .4;
    height: 10vh;
    position: absolute;
    bottom: 3vh;
    border-radius: 20px;
    cursor: pointer;
  }

  .answer1 {
    left: 32%;
    bottom: 20px;
  }

  .answer2 {
    left: 44.6%;
    bottom: 20px;
    
  }

  .answer3 {
    left: 57.5%;
    bottom: 20px;
  }
}