#question-nine {
  .answer {
    width: 10%;
    float: left;
    background-color: red;
    opacity: .4;
    height: 11vh;
    position: absolute;
    bottom: 2vh;
    border-radius: 20px;
    cursor: pointer;
  }

  .answer1 {
    left: 32%;
  }

  .answer2 {
    left: 44.6%;
  }

  .answer3 {
    left: 57.5%;
  }
}