<section id="students-results" class="content">
  <section class="class-container">
    <h2 class="blue">PESQUISAR SALA</h2>
    <div class="search-box">
      <input id="filter-list" type="text">
      <%= image_tag("search-icon.png") %>
    </div>

    <article class="class-list">
      <ul>
        <% if @classrooms.empty? %>
          <li>
            Nenhuma classe criada
          </li>
        <%else%>
          <% @classrooms.order(school: :asc).each do |classroom| %>
            <%= link_to teacher_classroom_students_path(@teacher.id, classroom.id) do%>
              <li>
                <%= "#{classroom.school} - #{classroom.slug} - #{classroom.code}" %>
              </li>
            <%end%>
          <%end%>
        <%end%>
      </ul>
    </article>

    <div class="add-class">
      <%= link_to "ADICIONAR TURMA", new_teacher_classroom_path(@teacher.id) %>
    </div>
  </section>

  <section class="class-results">
    <div class="title-box">
      <h2>Selecione uma Turma</h2>
    </div>  
    
    <article class="students-list">
      <ul>
        <li>
          Nenhum aluno disponível
        </li>
      </ul>

      <button>ATIVAR CÓDIGO</button>
    </article>

    <article class="student-results">
      <h2>Nenhum dado disponível</h2>
    </article>
  </section>
</section>