<section id="students-results" class="content">
  <section class="class-container">
    <h2 class="blue">PESQUISAR SALA</h2>
    <div class="search-box">
      <input type="text">
      <%= image_tag("search-icon.png") %>
    </div>

    <article class="class-list">
      <ul>
        <li>
          Escola 01 - Turma 01 - CÓDIGO 01
        </li>

        <li>
          Escola 02 - Turma 02 - CÓDIGO 02
        </li>

        <li>
          Escola 03 - Turma 03 - CÓDIGO 03
        </li>

        <li>
          Escola 04 - Turma 04 - CÓDIGO 04
        </li>
      </ul>
    </article>

    <div class="add-class">
      <button>ADICIONAR TURMA</button>
    </div>
  </section>

  <section class="class-results">
    <div class="title-box">
      <h2>TURMA DO BAIRRO</h2>
    </div>  
    
    <article class="students-list">
      <ul>
        <li>
          José Bezerra
        </li>

        <li>
          Merida da Silva
        </li>

        <li>
          Beatriz Leonardo
        </li>

        <li>
          Aurora Boreal
        </li>

        <li>
          Cinderela Gomes
        </li>

        <li>
          Rapunzel Caroline 
        </li>
      </ul>

      <button>ATIVAR CÓDIGO</button>
    </article>

    <article class="student-results">
      <h2>José Bezerra</h2>

      <article class="graph-results">
        TESTE DE BOLAS

        <h3>
          80% de chance de ter DALTONISMO
        </h3>
      </article>

      <article class="questions-results">
        <ul>
          <li>
            Pergunta 1
          </li>

          <li>
            Pergunta 2
          </li>

          <li>
            Pergunta 3
          </li>

          <li>
            Pergunta 4
          </li>

          <li>
            Pergunta 5
          </li>

          <li>
            Pergunta 6
          </li>

          <li>
            Pergunta 7
          </li>

          <li>
            Pergunta 8
          </li>

          <li>
            Pergunta 9
          </li>

          <li>
            Pergunta 10
          </li>

          <li>
            Pergunta 11
          </li>

          <li>
            Pergunta 12
          </li>
        </ul>
      </article>
    </article>
  </section>
</section>